* {
    transition: all 0.2s;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    overflow: hidden;
    background: #111;
    color: #eee;
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

#bg-grab {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 0;
}

#ui {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    display: flex;
    gap: .5rem;
    justify-content: center;
    pointer-events: none;
}

#ui div {
    background: #eee1;
    display: flex;
    padding: .25rem;
    pointer-events: fill;
    gap: 0.25rem;
    border-radius: .5rem;
}

#ui button {
    background: transparent;
    border: #bbb 1px solid;
    min-width: 2rem;
    height: 2rem;
    color: #eee;
    border-radius: .25rem;
}

#ui button:hover {
    background: #eee4;
    cursor: pointer;
}

#ui button[selected] {
    border: #acf 2px solid;
}

.node {
    --x-pos: 0;
    --y-pos: 0;

    position: absolute;
    z-index: 1;
    top: var(--y-pos);
    left: var(--x-pos);
    justify-content: center;
    align-content: center;
    padding: 1rem;

    user-select: none;

    border: 1px solid white;
    transition: all 0.2s, top 0s, left 0s;

    background: #222;
    border-radius: 0.5rem;
    overflow: hidden;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }
}

/* 
.node .out {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    background: transparent;

    &:hover {
        background: #fff4;
        cursor: pointer;
    }
} */
/* 
body:has(#mode #erase[selected]) .node .out {
    display: none;
} */

body:has(#mode #erase[selected]) .node:hover {
    cursor: pointer;
}

#start.node {
    left: 0;
    border-left: none;
}

#end.node {
    right: 0;
    left: unset;
    border-right: none;
}

#start.node,
#end.node {
    cursor: auto;
    width: 4rem;
    border-radius: 0;
    border-bottom: none;
    border-top: none;
    top: 0;
    bottom: 0;
}